body {
    background-color: #f8f9fa;
    scroll-behavior: smooth;
}

section {
    padding-top: 60px !important; 
    margin-top: -60px; 
}

.container { min-height: 80vh; }

.vh-100-minus-nav {
    min-height: calc(100vh - 100px); 
    padding-top: 50px;
    padding-bottom: 50px;
}